<!DOCTYPE html>
{% load static %}
<html lang="en">
<head><link rel="stylesheet" href="{% static 'css/reply.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint view</title>
</head>
<body>
    <div class="container">



    <table>
        <tr><th>ID</th>
            <th>Name</th>
            <th>Feedback</th>
            <th>Rating</th>
            <th>Date</th>
        </tr>
        {% for i in c%}
<tr>
    <td>{{i.id}}</td>
    <td>{{i.USER.Name}}</td>
    <td>{{i.Feedback}}</td>
    <td>{{i.Rating}}</td>
    <td>{{i.Date}}</td>

    </tr>
    {% endfor %}
    
    </table>



    </div>
</body>
</html>