{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
</head>
<body>
   <div class="container"> <table > <h1 style="text-align: center;">Data</h1>

<tr>
    <th>Id</th>
    <th>E-mail</th>
    <th>Name</th>
    <th>Phone-number</th>
    <th>Address</th>
    <th>Action</th>
    
</tr>
{% for i in c %}

<tr>
    <td>{{i.id}}</td>
    <td>{{i.Email}}</td>
    <td>{{i.Name}}</td>
    <td>{{i.PhoneNumber}}</td>
    <td>{{i.Address}}</td>
<td>
    {% if i.LOGIN.status == "PENDING" %}
    <a href="AcceptUser/{{i.LOGIN.id}}"><button class="btn">accept</button></a>
    <a href="RejectUser/{{i.LOGIN.id}}"> <button class="btn">reject</button> </a>
    {% elif i.LOGIN.status == "ACCEPT" %}
    <p>Accepted</p>
    {% elif i.LOGIN.status == "REJECT" %}
    <p>Rejected</p>
    {% endif %}
</td>
</tr>
{% endfor %}


    </table>
</div>
</body>
</html>